.nav-panel {
    position: fixed;
    width: 260px;
    height: 100vh;
    background-color: #2d4051;
}
.nav {
    margin-left: 20px;
    margin-top: 80px;
    list-style: none;
}
.nav-link {
    text-decoration: none;
    color: #D0D1D2;
    text-transform: uppercase;
}
.nav-link:hover {
    color: #fff;
}
.nav-text {
    margin-left: 20px;
}